<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>.: Inicio :.</title>
	<style type="text/css">
		*{
			font-family: arial;
		}
		.boton{
			padding: 10px;
			margin: 10px;
			font-size: 24px;
		}	
		.boton:hover{
			font-size: 28px;
			cursor: pointer;
		}	
	</style>
</head>
<body>	
	<center>		
		<h1>Practica Dos</h1>
		<h1>SSH y Telnet</h1><br>		
		<form action="/alta" method="POST">
			<input type="submit" value="Alta Usuarios" class="boton">
		</form>
		<form action="/consulta" method="POST">
			<input type="submit" value="Consulta Usuarios" class="boton">
		</form>
		<form action="/SSH" method="GET">
			<input type="submit" value="Prueba SSH" class="boton">
		</form>
	</center>

</body>
</html>